body {
    padding-top: 0; /* Add padding-top value according to your design */
  }
.nav1 {
    background: #00796b ;
    height: 40px;
    font-size: 14px;
    color: #fff;
    padding: 0;
}
.d-flex {
    display: flex!important;
}
.nav1 .social-links a{
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    margin-left: 20px;
    font-size: 20px;
}
.nav1 .contact-info a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    line-height: 0;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}
.nav2 {
    background: #008374 !important; 
}
.nav2 a {
     color: rgb(255, 255, 255)!important;
}
.dropdown-menu a{
    color: #00796b!important;
}
.point:hover{
        background-color: rgb(188, 184, 184);
        border-radius: 5px;
}  
.footer1 {
    background: #008374 !important; 
}
.fp{
    color: rgba(255, 255, 255, 0.503);
    font-size: 14px !important;
}
.lp{
    color: rgba(255, 255, 255, 0.503);
    text-decoration: none;
    line-height: 0;
    font-size: 14px !important;
    font-weight: bold;
}
.col-md-3 .list-unstyled li a.lp:hover {
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.503);
    padding-right: 30px !important;
}
.col-md-3 p.fp:hover {
    background-color: rgba(255, 255, 255, 0.503) !important;
    border-radius: 5px;
}
.fm{
    color: rgba(255, 255, 255, 0.503);
    font-size: 30px !important;
    padding-right: 20px !important;
}
.col-md-3 a:hover i.fm {
    font-size: 40px !important; 
}
/* home */
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    z-index: 0;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    margin-top: 30px;
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: #008374 ;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: #008374 ;
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #ffc800;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #008374 ;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .home{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .home{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .home{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .content h1{
    font-size: 36px;
   }
}
/* home */
/* product card */

#PC-card h1{
    color: #008374;
    border-bottom: 2px solid #008374;
}
#PC-card .card h3{
    font-size: 20px;
    color: black;
}
#PC-card .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}
.star i{
    margin-left: 5px;
    font-size: 13px;
}
.checked{
    color: #ffc800;
}
#PC-card .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#PC-card .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #PC-card .card h3{
        font-size: 15px;
    }
}
/* pc card */

/* electric */
#Electric-card h1{
    color: #008374;
    border-bottom: 2px solid #008374;
}
#Electric-card .card h3{
    font-size: 20px;
    color: black;
}
#Electric-card .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}
.star i{
    margin-left: 5px;
    font-size: 13px;
}
.checked{
    color: #ffc800;
}
#Electric-card .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#Electric-card .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #Electric-card .card h3{
        font-size: 15px;
    }
}
/* electric */
.other-cards{
    margin-top: 30px;
}
.other-cards .card{
    background-color: #a9a9a92b;
}
.other-cards .card h3{
    margin-top: 30px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}
.other-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 220px;
}
.other-cards .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}
.shopnow{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .other-cards .card h3{
        margin-top: 5px;
        font-size: 20px;
    }
    .other-cards .card h5{
        margin-top: 5px;
        font-size: 15px;
    }
    .other-cards .card p{
        margin-top: 0px;
    }
    .shopnow{
        margin-top: 0px;
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}
#about{
    margin-top: 30px;
}
#about h3{
    font-weight: bold;
    color: #008374;
    text-shadow: 0px 1px 1px black;
}
#about button{
    width: 150px;
    height: 36px;
    color: white;
    background-color:#008374;
    border-radius: 5px;
    cursor: pointer;
}
#contact{
    margin-top: 50px;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111 ,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #008374;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #008374;
}
.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #008374;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.messagebtn button:hover{
    background-color: #008374;
    color: white;
}
.newslater{
    margin-top: 100px;
}
.newslater h3{
    font-size: 25px;
    letter-spacing: 3px;
}
.input{
    margin-top: 30px;
}
.input input{
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border:  1px solid black;
    padding-left: 5px;
}
#subscribe{
    width: 200px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #008374;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
@media screen and (max-width:465px){
    .input input{
        width: 280px;
    }
    #subscribe{
        margin-top: 10px;
    }
}
@media screen and (max-width:250px){
    .input input{
        width: 150px;
    }
    #subscribe{
        width: 150px;
    }
}
.login-container {
    width: 80%;
    margin: 0 auto;
    background-color: #008374;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
}

.side1 h3 {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.side2 {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.side2 h3 {
    color: #008374;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

.input2 input {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #008374;
}

.input2 input::placeholder {
    font-weight: bold;
}

.btn-login a {
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #008374;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
    display: inline-block;
    margin-top: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #008374;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .login-container {
        width: 90%;
    }
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.register-container {
    width: 80%;
    margin: 0 auto;
    background-color: #008374;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
}

.side1 h3 {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.side2 {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.side2 h3 {
    color: #008374;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

.input2 input {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #008374;
}

.input2 input::placeholder {
    font-weight: bold;
}

.btn-register a {
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #008374;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
    display: inline-block;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .register-container {
        width: 90%;
    }
}
